@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.body{
    display: flex;
    justify-content: center;
}

.home-header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    height: 80vh;
}

.home-title{
    font-size: 2em;
    text-align: center;
    width: 700px;
    margin-top: 30px;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    justify-self: flex-start;
}

.home-sub{
    position: relative;
    text-align: center;
    width: 700px;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.home-sub p{
    font-size: 1.3em;
}

.home-sub a{
    color: #000;
    font-size: 1.2em;
    text-decoration: underline solid #000;
    transition: text-decoration .3s linear;
    
}

.home-sub a:hover{
    text-decoration: underline solid transparent;
}

body{
    overflow-x: hidden;
}

.about-content{
    display: grid;
    width: 80vw;
    height: 100vh;
    align-items: center;
    grid-template-rows: 1fr 10px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "about-title" "about-hr" "about-text";
}

.about-title{
    grid-area: about-title;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    align-self: end;
    text-align: center;
    justify-self: center;
    width: 100vw;
}

.about-hr{
    grid-area: about-hr;
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(143, 143, 143, 0.75), rgba(0, 0, 0, 0));
}

.about-text{
    font-family: 'Open Sans Condensed', sans-serif;
    grid-area: about-text;
    align-self: start;
    text-align: center;
    width: 80vw;
    justify-self: center;
    font-size: 1.5em;
}

.tech{
    background-color: rgb(15, 201, 201);
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tech-title{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 3em;
}

.cards-tech{
    border: 1px solid #fff;
    border-radius: 5px;
    height: 400px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tech-icon{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.tech-text{
    width: 100vw;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    margin: 0 10px;
}


.lang-icon{
    margin-top: 20px;
    font-size: 8em;
    color: #fff;
}

@media screen and (max-width: 1500px){
    .home-title{
        font-size: 1.5em;
        width: 40vw;
    }

    .home-sub{
        font-size: 1.1em;
        width: 40vw;
    }

    .tech-title{
        font-size: 2.5em;
    }

    .cards-tech{
        width: 300px;
        height: 400px;
    }

    .lang-icon{
        font-size: 6em;
    }

    

}

@media screen and (max-width: 1010px){
    .cards-tech{
        width: 80vw;
        height: 300px;
    }

    .tech{
        height: 140vh;
    }
    .tech-title{
        font-size: 2em;
    }
}

@media screen and (max-width: 801px){
    .home-header{
        height: 50vh;
    }

    .home-title{
        font-size: 2em;
        text-align: center;
        width: 80vw;
        margin-top: 30px;
        color: #000;
        font-family: 'Roboto Condensed', sans-serif;
        justify-self: flex-start;
    }
    
    .home-sub{
        width: 80vw;
        font-size: 1.2em;
        align-items: flex-start;
        margin-bottom: 100px;
    }

    .cards-tech{
        width: 80vw;
        height: 300px;
    }

    .tech{
        height: 100vh;
    }
}

@media(max-width: 667px){
    .home-header{
        height: 100vh;
    }

    .home-title{
        font-size: 1.2em;
    }
    
    .home-sub{
        width: 80vw;
        font-size: 1em;
        margin-bottom: 100px;
    }

    .cards-tech{
        width: 80vw;
        height: 300px;
    }

    .tech{
        height: 120vh;
    }
}

@media(max-width: 400px){
    .cards-tech{
        width: 90vw;
        height: 350px;
    }

    .about-text{
        font-size: 1.2em;
    }
}